nav {
    border-radius: 0 0 8px 8px !important;
    background-color: #FFFFFF;
    box-shadow: 0 3px 5px 1px rgba(74, 74, 74, 0.1) !important;
}

.form-control {
    height: 36px !important;
    width: 548px !important;
    border-radius: 10px !important;
    background-color: rgba(142, 142, 147, 0.12) !important;
    margin-top: 14px !important;
    margin-bottom: 14px !important;
}

.profile {
    height: 36px !important;
    width: 38.4px !important;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 14px !important;
    margin-bottom: 14 !important;
    background-color: rgba(142, 142, 147, 0.12) !important;
}

.additem {
    box-sizing: border-box !important;
    height: 36px !important;
    width: 128px !important;
    border: 1px solid #0062CB !important;
    border-radius: 18px !important;
    background-color: #FFFFFF !important;
}