body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto' !important;
    
}

p{
    font-family: 'Open Sans', sans-serif !important;
}

nav {
    border-radius: 0 0 8px 8px !important;
    background-color: #FFFFFF;
    box-shadow: 0 3px 5px 1px rgba(74, 74, 74, 0.1) !important;
}

/*font*/


/*.form-control {
    
    border-radius: 10px !important;
    background-color: rgba(142, 142, 147, 0.12) !important;
    margin-top: 14px !important;
    margin-bottom: 14px !important;
    }*/

#myModal .modal-dialog {
    /*-webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;*/
    z-index: 1000;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    display: flex;
    max-width: 80% !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 10px !important;
    background-color: rgba(142, 142, 147, 0.12) !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.profile {
    height: 36px !important;
    width: 38.4px !important;
    border-radius: 50%;
    /*margin-right: 30px;*/
    margin-top: 14px !important;
    margin-bottom: 14 !important;
    background-color: rgba(142, 142, 147, 0.12) !important;
}

.additem {
    margin-left: 16px;
    margin-top: 24px;
    box-sizing: border-box !important;
    height: 36px !important;
    width: 128px !important;
    border: 1px solid #0062CB !important;
    border-radius: 18px !important;
    background-color: #FFFFFF !important;
    color: #0062CB;
    margin-bottom: 16px !important;
    /*font-family: Roboto;
    font-size: 14px;*/
    font-weight: bold;
    line-height: 19px;
}

.additem:hover {
    background-color: #0062CB !important;
    color: #FFFFFF;
}

.ul-menu {
    list-style: none;
    padding: 0;
    padding-bottom: 0.8px;
    margin: 0;
}

.ul-menu2 {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0.8px;
    margin-top: 24px !important;
}

.kategori {
/* height: 19px;
width: 29px; */
color: #231F20;
font-family: Roboto;
/*font-size: 14px;
font-weight: bold;*/
line-height: 19px;
padding-top: 15px;
padding-left: 28px;
padding-bottom: 14px;
background-color: #FAFAFA;
margin-right: 32px;
}

.kategori:hover {
    color: #FF2800;
    background-color: #FFF4F1;
}

./*sub-kategori {
    margin-top: 30px;
}

.menu-sub {
    margin-right: 38px;
    height: 24px;
    width: 62px;
    color: #AAAAAA;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    border-bottom: 0px solid currentColor;
    transition: width 3s;
    -webkit-transition: width 3s;
}

.menu-sub:hover {
    border-bottom: 2px solid currentColor;
    border-bottom-color: #FF2800;
    }*/

.sub-kategori a, .sub-kategori a:hover {
    color: #000;
    text-decoration: none;
}

.sub-kategori li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

.sub-kategori li:last-child {
    margin-right: 0;
}

.sub-kategori li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sub-kategori li:hover:after {
    width: 100%;
    background: #FF2800;
}


/*.card {
    float: left;
    margin-right: 21px;
    margin-top: 18px;
    height: 193px;
    width: 139px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 3px 5px 1px rgba(74, 74, 74, 0.1);
}*/

.card:hover {
    border: 1px solid #FF2800;
    /*border-radius: 8px;*/
}

.add-item-card:hover{
    border: 0px;
}

/*.title-card {
    margin-top: 16px;
    margin-left: 17px;
    margin-bottom: 0px !important;
    height: 34px;
    width: 106px;
    color: #231F20;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
}

.code-card {
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 16px;
    height: 14px;
    width: 52px;
    color: #484848;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
}*/

.pagination {
    text-align: center !important;
    margin-top: 5%;
}

.next {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #CACCCF;
    margin-right: 8px;
}

.next:hover {
    background-color: #FF2800;
}

.col-pay{
    /*height: 100%; */
}

.box-pay {
    float: right;
    margin-top: 24px;
    /*height: 595px;
    width: 300px;*/
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 5px 1px rgba(74, 74, 74, 0.1);
}

.order {
    /*margin-top: 25px !important;*/
    /*margin-left: 16px;*/
}

.box-item {
    /*margin-top: 27px;*/
    height: 65%;
    width: 300px;
    background-color: #FAFAFA;
}

.total-box {
    margin-top: 16px;
    /*margin-left: 18px !important;*/
}

/*.thin-text {
     height: 19px;
    width: 60px; 
    color: #231F20;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
}*/

/*.medium-text {
     height: 21px;
    width: 36px; 
    color: #231F20;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}*/

/*.medium-text-title {
     height: 21px;
    width: 36px; 
    color: #231F20;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 15px;
}*/

.save {
    box-sizing: border-box;
    height: 42px;
    width: 120px;
    border: 1px solid #FF2800;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #FF2800;
    /*font-family: Roboto;
    font-size: 16px;*/
    font-weight: bold;
    line-height: 21px;
    margin-right: 28px;
}

.save:hover {
    background-color: #FF2800;
    border: 1px solid #FF2800;
    color: #FFFFFF;
}

.pay {
    height: 42px;
    width: 120px;
    border: 1px solid #FF2800;
    border-radius: 8px;
    background-color: #FF2800;
    color: #FFFFFF;
    /*font-family: Roboto;
    font-size: 16px;*/
    font-weight: bold;
    line-height: 21px;
}

.pay:hover {
    background-color: #FFFFFF;
    border: 1px solid #FF2800;
    color: #FF2800;
}

.scroll {
    height: 45vh;
    overflow: auto;
}

.item-pay {
    padding: 2rem 0 !important;
}

.rectangle {
    margin-top: 16px;
    height: 1px;
    width: 100%;
    background-color: #D8D8D8;
}

.row-item{
    min-height: 65vh;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 1366px) {
   /* .additem{
        font-size: 14px;
    }

    .kategori{
        font-size: 14px;
    }

    .sub-kategori{
        font-size: 18px;
    }*/

    .card-title{
        font-size: 16px;   
    }

    .card-text{
        font-size: 14px;
    }

   /* .navbar-btm{
        font-size: 10px;
    }
*/
    .scroll {
        height: 35vh;
        overflow: auto;
    }

    .pagination{
        margin-top:2.5%;
    }

    .row-item{
        min-height: 69.6vh;
    }
}

@media only screen and (max-width: 1200px) {
    .additem{
        font-size: 14px;
    }

    .kategori{
        font-size: 14px;
    }

    .sub-kategori{
        font-size: 18px;
    }

    .card-title{
        font-size: 12px;   
    }

    .card-text{
        font-size: 10px;
    }

    .img-text-order{
        margin: 0 !important;
    }

    .text-order{
        font-size: 15px;
    }

    .item-pay{
        font-size: 14px;
        /*margin-bottom: 0px !important;*/
    }

    .total-box{
        margin-top: 0px !important;
        font-size: 14px;
    }

    .navbar-btm{
        font-size: 14px;
    }

    .card-body{
        padding: 1rem !important;
    }

    .scroll {
        height: 45vh;
        overflow: auto;
    }

    .row-item{
        min-height: 0;
        height: 486.469px;
    }
}